@charset "UTF-8"

*{
    margin: 0px;
    padding: 0px;
    
}

html, body{
    min-height: 100vh;
    background-color: rgb(179, 177, 177);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 6vw;
}

header>p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
    text-align: justify;
}

section>p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
    
}

section.imagem{
    background-color: rgb(36, 35, 35);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
    
}

section.imagem>p{
    background-color: rgba(0, 0, 0, 0.473);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.575);   
}

section#img1{
    background-image: url(../imagens/imagem2.jpg);
    background-position: center right;
    background-size: cover;
}

section#img2{
    background-image: url(../imagens/imagem1.jpg);
    background-position: center right;
    background-size: cover;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}